<article class="post card">
  <div class="card-header">
    <div class="title">
      {{ppost_title}}
    </div>
    <div class="meta">
      Posted by
      {{!-- {{user.username}} --}}
      on
      {{!-- {{format_date date_created}} --}}
    </div>
  </div>
  <div class="card-body">
    <div class="content">
      {{blog_content}}
    </div>
    <div>
      {{!-- {{comments.length}}
      {{format_plural "comment" comments.length}} --}}
    </div>
  </div>
</article>